body {
	background-color: rgb(255, 193, 126)
}
nav {
	display: block;
	font-family: Verdana, sans-serif;
	overflow: hidden;
	height: 100px;
}

nav > ul > li {
	display: block;
	float: left;
	width: 150px;
	height: 50px;
	background-color: rgb(42, 16, 196);
	font-size: 20px;
	margin: 5px 5px;
	text-align: center;
	line-height: 42px;
	border-radius: 13px;
	color: #ffffff;
	z-index: 2;
	background: -webkit-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(1,5,137,1) 51%,rgba(44,83,158,1) 100%);
}

nav > ul > li:hover {
    background-color: rgb(90, 116, 253);
   	color: #000000;
   	-webkit-transition: 0.13s;
	background: -webkit-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(2,141,247,1) 51%,rgba(2,144,239,1) 100%);
}

#mynavigation:hover {
   	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
	height: 58px;
	background: -webkit-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(2,141,247,0.8) 51%,rgba(2,144,239,0.7) 100%);
}

#mynavigation:hover > div {
    display: block;
}

#mynavigation > div {
	display: none;
	width: auto;
	height: auto;
	font-size: 14px;
	margin: 16px 0 0 -171px;
	background-color: rgba(2,144,239,0.7);
	z-index: 2 !important;
	border-radius: 15px;
    padding: 10px;
    padding-top: 0;
    position: absolute;
    box-shadow: 2px 2px 3px rgba(52, 65, 73, 0.7);
    /*-webkit-columns: 192px 3;*/
}
#mynavigation #tools {
	display: block;
	text-align: right;
}
#mynavigation #tools a {
	display: block;
	float: left;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	margin-left: 5px;
}
#mynavigation #tools a:hover {
	text-decoration: underline;
}
#mynavigation #tools input[type="text"] {
	border-radius: 7px;
	border: 1px solid #fff;
	padding: 2px 8px; 
	font-size: 15px;
	width: 108px;
	color: rgb(42, 16, 196);
}

#mynavigation > div > ul {
	display: block;
	float: left;
	margin-right: 20px;
	height: auto;
	padding: 0;
}
#mynavigation > div > ul:last-child {
	margin: 0;
}
#mynavigation div > ul > li {
	display: block;
	margin: 15px 2px;
	width: 192px;
	height: auto;
	font-size: 15px;
	z-index: 1;
	position: relative;
	border: 2px solid #ffffff;
	border-radius: 6px;
	background: #ffffff;
	color: rgb(42, 16, 196);
	line-height: 23px;
	font-weight: bold;
	box-shadow: 1px 1px 1px #000;
}
#mynavigation div > ul > li:last-child {
	margin-bottom: 0;
}

#mynavigation div > ul > li:first-child {
	margin-top: 0;

	}
#mynavigation div > ul > li:hover {
	background: -webkit-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(2,141,247,1) 51%,rgba(2,144,239,1) 100%);
	-webkit-background-size: 27px;
	color: #ffffff;
	-webkit-transition: 0.1s;
	border: 2px solid #ffffff;
}


#mynavigation div > ul > li > ul > li{
	display: block;
	height: auto; 
	background: #ffffff;
	color: rgb(42, 16, 196);
	font-size: 11px;
	line-height: 19px;
}
#mynavigation div > ul > li > ul > li a{
	display:block;
	color: #000000;
	text-decoration: none;
}
#mynavigation div > ul > li > ul > li a:hover{
	color: #4444cc;
	text-decoration: underline;
}

#mynavigation .open {
	display: block;
}
#mynavigation .opened {
	background: -webkit-linear-gradient(top, rgba(44,83,158,1) 0%,rgba(2,141,247,1) 51%,rgba(2,144,239,1) 100%);
	-webkit-background-size: 27px;
	color: #ffffff;
	border: 2px solid #ffffff;
}


#mynavigation div ul > li > ul {
	display: none;
	width: 192px;
	height:auto;
	margin: 0;
	padding: 0;
}
article {
	display: block;
}
