.content {
  float: left;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
img {
  border: 0;
}
a {
  text-decoration: none;
}
.countdown-box {
  background-color: #f2f2f2;
  border: 1px #c0c0c0 solid;
  padding: 10px;
  margin: 0px;
}
.team-logo {
  float: left;
  margin: 10px;
}
.match-details {
margin-bottom: 5px;
}
.match-details-teams {
  color: #600030;
  font-size: 16px;
}
.match-details-league img{
  border: 0;
}
.match-details-info h3{
  color: #555555;
  font-size: 12px;
  margin:0;
}

.links {
  margin: 10px;
  text-align: center;
}
.links a {
  font-size: 12px;
  color: #ffffff;
  background-color: #600030;
  padding: 2px 18px 2px 5px;
  text-decoration: none;
  background-image: url('cutups/whiteArrow.gif');
  background-position: 92%;
  background-repeat: no-repeat;
  margin: 0 1px;
}
.full-fixture {
  height: 40px;
  font-size: 17px;
  background-image: url('cutups/numberBkg.gif');
  text-align: center;
  width: 100%;
  padding-top: 3px;
}
.full-fixture a {
  display: block;
  background: url('cutups/maroonArrow.gif') no-repeat 80%;

  color: #600030;
  text-decoration: none;
}
.smaller {
  font-size: 12px;
  margin-top: -4px;
  display: block;
}
.ad-banner img {
  border: 1px #c0c0c0 solid;
}

#countdown-inner1 {
  display: block;
  overflow: auto;
  padding: 10px;
  background-color: #ffffff;
  border: 1px #c0c0c0 solid;
}
#countdown-inner2 {
  display: block;
  overflow: auto;
  padding: 10px;
  background-color: #ffffff;
  border: 1px #c0c0c0 solid;
}
#countdown-inner1 h1 {
  color: #ffffff;
  background: url('cutups/clock.gif') no-repeat 3%;
  background-color: #600030;
  font-size: 12px;
  padding: 3px 5px 5px 30px;
  vertical-align: baseline;
    margin:0;

}
#countdown-inner2 h1 {
  color: #ffffff;
  background-color: #ff5555;
  font-size: 12px;
  padding: 3px 5px;
}

.live {

  color: #ffffff;
  text-align: center;
  background: url('cutups/microphone.jpg') no-repeat 85% 32% !important;
  background-color: #600030 !important;
  font-size: 12px;
  padding: 3px 5px 5px 30px;
  vertical-align: baseline;
  margin:0;

}
.live a {
  color: #ffffff;

}

#cd-top {
  color: #ffffff;
  background-color: #600030;
  font-size: 12px;
  padding: 3px 5px;
}
#cd-top img {
  margin-right: 2px;
}
#cd-digits {
width: 100%;
overflow: auto;
}

#count1 .cd-digit {
  font-size: 35px;
  color: #600030;
  background-image: url('cutups/numberBkg.gif');
  text-align: center;
  float: left;
  height: 57px;
  padding: 5px 10px 0 10px;
  margin-right: 10px;

}

#count2 .cd-digit {
  font-size: 35px;
  color: #405104;
  background-image: url('cutups/numberBkg.gif');
  text-align: center;
  float: left;
  height: 57px;
  padding: 5px 10px 0 10px;
  margin-right: 5px;

}

#count1 .cd-digit:last-child {
 margin-right: 0;
}

.cd-info {
  font-size: 12px;
  margin-top: -8px;
  display: block;

}
#countdown-live {
  display: none;
  width: 280px;
  height: 107px;
  background-color: #600030;
  color: #ffffff;
  text-align: center;
  overflow: auto;
}
#countdown-live-first {
  color: #ffffff;
  text-decoration: none;
  margin-top: 35px;
}
#count1 {
  display: block;
}

time {
  display: block;
  background: url('cutups/dateIcon.gif') no-repeat left center;
  padding: 3px 0 0 15px;
  margin-left: 90px;
  font-size: 12px;
}