body {
	background-color: rgb(111, 90, 90);
	font-family: Arial, sans-serif, Verdana;
}
#countdownslider {
	margin: 20px auto;
	width: 200px;
	background-color: #ddddfd;
	height: 230px;
	border: 2px solid #fafafa;
	position: relative;
	border-radius: 8px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 1px solid #fafafa;
}
#countdownslider h1 {
	font-size: 18px;
	color: rgb(134, 77, 39);
	display: block;
	margin: 7px 0 4px 15px;
}
.sliderinner {
	height: 230px;
}
.sliderinner time {
	font-size: 13px;
	font-weight: bold;
	margin-left: 10px;
}
.countdown {
	height: auto;
	overflow: auto;
	background-color: rgb(59, 59, 223);
	color: #ff7A00;
	width: 135px;
	text-align: center;
	font-size: 14px;
	border: 2px solid #000;
	border-radius: 12px;
	padding: 10px;
	position: absolute;
	bottom: 10px;
	left: 21px;

}
.countdown .cd-digit {
	float: left;
	margin-left: 8px;
	font-family: Courier, monospace;
	background-color: #000;
	padding: 4px;
	border-radius: 7px;

}
.countdown .cd-digit:last-child {
	margin-right: 0;
}
.countdown .cd-info {
	display: block;
	font-size: 11px;
}

.countdownlive {
	display:none;
	height: 39px;
	overflow: auto;
	background-color: rgb(180, 3, 10);
	color: #fff;
	width: 135px;
	text-align: center;
	font-size: 18px;
	border: 2px solid rgb(42, 42, 255);
	border-radius: 12px;
	padding: 10px;
	position: absolute;
	bottom: 10px;
	left: 21px;
	text-decoration: none;
}
.countdownlive span {
	display: block;
	font-size: 14px;
}
.controls {
	background-color: #ddddfd;
	border: 2px solid #fafafa;
	overflow: auto;
	width: 100%;
	margin-left: -2px;
	margin-top: 1px;
	border-top: 0;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;

}
.controls a {
	text-decoration: none;
	color: #fff;
	margin: 5px;
}
.controls > div {
	float:left;
	background-color: #ddddfd;
	color: #fff;
	font-size: 45px;

	padding: 4px;
}
#sliderprev {
	width: 48px;
	text-align: left;
	border-right: 1px solid #fafafa;
}
#slidernext {
	float: right;
	width: 48px;
	text-align: right;
	border-left: 1px solid #fafafa;
}
#sliderpager {
	font-size: 18px;
	text-align: center;
	width: 77px;
	padding-top: 17px;
}